src/main/app/exact_target_subscribers_flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
    <flow name="subscriber_accounts_feed_flow">
        <db:stored-procedure config-ref="MySQL_Indochino_Configuration" doc:name="Log Start">
            <db:parameterized-query><![CDATA[CALL indochino.InsertIntegrCommunication('indo_exact_target_feed', 'subscribers_account_feed_flow', NOW(), NULL, NULL, NULL);]]></db:parameterized-query>
        </db:stored-procedure>
        <db:stored-procedure config-ref="MySQL_Indochino_Configuration" doc:name="Indo DB">
            <db:parameterized-query><![CDATA[CALL indochino.getExactTargetSubscribers();]]></db:parameterized-query>
        </db:stored-procedure>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <set-variable variableName="file_name" value="${et_s_filename}#[server.dateTime.format(&quot;yyyyMMdd&quot;)]${et_file_type}" doc:name="File Name"/>
        <set-variable variableName="file_location" value="${et_s_file_location}#[server.dateTime.format(&quot;yyyyMMdd&quot;)]${et_file_type}" doc:name="File Location"/>
        <invoke name="ETSCSVWriter" object-ref="csvBean" method="exactTargetSubscriberWriter" methodArguments="#[json:resultSet1], #[flowVars.file_location]" doc:name="ETSCSVWriter"/>
        <invoke name="ETSJavaUpload" object-ref="ftpBean" method="uploadFeed" methodArguments="${et_ftp_url}, ${et_ftp_port}, ${et_ftp_user_name}, ${et_ftp_password}, #[flowVars.file_location], #[flowVars.file_name],${et_file_dst}" doc:name="ETSJavaUpload"/>
        <set-variable variableName="result" value="#[payload]" doc:name="Result Message"/>
        <db:stored-procedure config-ref="MySQL_Indochino_Configuration" doc:name="Truncate Subscriber Accounts">
            <db:parameterized-query><![CDATA[CALL indochino.truncateEXACTTARGETSubscriberAccounts();]]></db:parameterized-query>
        </db:stored-procedure>
        <db:stored-procedure config-ref="MySQL_Indochino_Configuration" doc:name="Log End">
            <db:parameterized-query><![CDATA[CALL indochino.InsertIntegrCommunication('indo_exact_target_feed', 'subscribers_account_feed_flow', NULL, NOW(), #[flowVars.result], NULL);]]></db:parameterized-query>
        </db:stored-procedure>
        <logger message="Exact Tagerget Customers Feed Finished" level="INFO" doc:name="Logger"/>
    </flow>
<!--<flow name="get_access_token">
        <vm:inbound-endpoint exchange-pattern="request-response" path="vm-path"  doc:name="VM_Get_Access_Token"/>
        <http:request config-ref="HTTP_Request_Configuration" path="GetAccessToken" method="GET" doc:name="Get Acccess Token"/>
        <set-session-variable variableName="access_token" value="#[payload.message]" doc:name="Access Token"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="vm-path2"  doc:name="VM_Encrypt_JSON"/>
    </flow> 
 	<flow name="encrypt_JSON">
 	    <vm:inbound-endpoint exchange-pattern="request-response" path="vm-path2"  doc:name="VM_Encrypt_JSON"/>
        <logger level="INFO" doc:name="Logger"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="vm-path3" doc:name="VM_Send_Subscribers"/>  
        
    </flow>
    <flow name="send_subscribers">
        <vm:inbound-endpoint exchange-pattern="request-response" path="vm-path3" doc:name="VM_Send_Subscribers"/>
        <set-variable variableName="appSecret" value="${tractiondemand_secretkey}" doc:name="App Secret Key"/>
        <set-session-variable variableName="json_encrypted" value="#[json:string/$]" encoding="UTF-8" doc:name="Encrypted JSON"/>
    </flow> -->
</mule>
